
.page1 {
  background-color: #111111;
  width: max-content;
  height: max-content;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;

}

.container-div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 11px;
}

.card-input {
  position: flex;
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  padding-top: 2px;
  border-radius: 10px;

  color: white;
  text-align: center;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

.card-input .submit {
  display: grid;
  margin-left: 75px;
  margin-block-start: 20px;
  background-color: rgb(33, 83, 248);
  width: 100px;
  height: 25px;
  
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  font-family: Open-sans;
}

.card-input .input-1, .input-2{
  font-size: 12px;
  gap: 10px;
}

.hint-text {
  margin-top: 8px;
  font-size: 10px;
  color: #ffffff;

  transition: opacity 1s ease-in-out;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.container-div::after, .container-div::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 25%,#ff4545, #00ff99, #ff0095, #ff4545);
  border-radius: 10px;
  z-index: -1;
  padding: 3px;
  animation: 2s spin linear infinite;
}

.container-div::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle:0deg
  }
  to {
    --angle: 360deg
  }
}

